@{
    ViewBag.Title = "Test Reset-Password Template";
}

<h2>Test Reset-Password Template</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Sender")
        @Html.TextBox("Sender", "akentas-mailer@testapp.de", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("To")
        @Html.TextBox("To", "to@testapp.de", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Bcc")
        @Html.TextBox("Bcc", "bcc@testapp.de", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Subject")
        @Html.TextBox("Subject", "Reset-Password Mail Template Test", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
}

<div class="panel-output">
    @ViewBag.Message
</div>
